// Colors
$red: #ff534a; // Accents
$blue: #a9c8ff; // Accents
$yellow: #ffc65a;
$orange: #e67e22;
$green: #2c816d; //Primary
$purple: #a39ef8; // Secondary
$gray: #0e0000;
$brown: #d9c9c4;
$black: #000000;
$light-black: #272a2d;
$light-gray: #f4f4f4;
$cream: #f2f0ec; //Backgrounds
$white: #ffffff; //Boxes for popouts
