@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap");

$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";
@font-face {
  font-family: "Ed-bold";
  src: url("Edmondsans-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Ed-med";
  src: url("Edmondsans-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Ed-reg";
  src: url("Edmondsans-Regular.otf") format("opentype");
}

// One font throught with weighting changes
$font-bold: "Ed-bold";
$font-reg: "Ed-med";
$font-light: "Ed-reg";
