.search-results {
  // width: 93%;
  display: flex;
  margin-left: 100px;
  margin-top: 150px;
  padding-right: 200px;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  a {
    color: $black;
    &:hover {
      text-decoration: none;
      color: $black;
    }
  }
  h2 {
    font-size: 3rem;
  }
  // :last-child {
  //   margin-bottom: 0;
  // }
}
