.book-show-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  padding-right: 250px;
  p {
    font-family: $font-reg;
  }
}

.book-show-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: $large 0px $large 16px;
  background-color: $white;
  width: 100%;
  border-radius: $border-radius-lg;
}

.card-shadow {
  box-shadow: $card-shadow;
}

.book-show-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  p {
    font-family: $font-light;
  }
}

.book-text-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.book-show-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  padding-right: $large;
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
    font-family: $font-bold;
  }
}

.book-show-headlinetext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: $xl-size;
}

.book-show-desc {
  width: 95%;
}

.book-show-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
  padding-right: 50px;
  h3 {
    font-family: $font-bold;
  }
}

.show-image {
  height: $xl-size;
}
.book-show-img {
  width: 120px;
  margin-right: 32px;
}
