.wrapper-index {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.logo-small {
  padding-top: 2.7%;
  padding-left: 3%;
  font-size: 3.7rem;
}

.logo-corner a:hover {
  text-decoration: none;
}

.container-search {
  // margin-left: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $light-black;
  justify-content: flex-start;
  opacity: 0;
  position: absolute;
  top: 117px;
  form {
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-group {
    margin-bottom: 0;
    padding: 15px 350px 15px 200px;
    width: 100%;
  }
  input {
    border-radius: 30px;
  }
}

.seperator-container {
  width: 100%;
  padding: 0px 200px 0px 50px;
  display: flex;
  height: 10px;
  opacity: 0;
  .seperator-one {
    width: 33.3%;
    background-color: $blue;
  }
  .seperator-two {
    width: 33.3%;
    background-color: $green;
  }
  .seperator-three {
    width: 33.3%;
    background-color: $purple;
  }
}
