// About Page Style
.ic-row1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  img {
    width: 90%;
  }
}

.index-container {
  width: 42.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-family: $font-bold;
    margin-top: $small;
  }
}
