.book-show-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-family: $font-reg;
  }
}

.book-show-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 40px 0px 40px 16px;
  background-color: white;
  margin-right: 50px;
}

.book-show-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  p {
    font-family: $font-light;
  }
}

.book-text-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.book-show-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  padding-right: 40px;
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
    font-family: $font-bold;
  }
}

.book-show-headlinetext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 200px;
}

.book-show-desc {
  width: 95%;
}

.book-show-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
  padding-right: 50px;
}

.show-image {
  height: 200px;
}
.book-show-img {
  width: 120px;
  margin-right: 32px;
}

.review-link {
  width: 100%;
  display: flex;
  align-items: center;
}

.reviews-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 45%;
  background-color: white;
  margin-bottom: 40px;
  margin-right: 5%;
  padding: 20px 40px;
  p,
  h3,
  h2 {
    margin: 0;
  }
}

.review-headline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
  h3 {
    font-family: $font-bold;
    margin-left: 20px;
  }
}

.review-seperator {
  width: 100%;
  height: 2px;
  background-color: $green;
}

.review-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  p {
    font-family: $font-reg;
    margin-bottom: 0;
  }
}

.review-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 0px;
  width: 100%;
  h3 {
    font-family: $font-reg;
  }
}

.no-review {
  width: 100%;
  display: flex;
  justify-content: center;
}

.review-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
