.friendships-layout {
  margin-top: 150px;
  margin-left: 150px;
  padding-left: 50px;
  padding-right: 150px;
  align-items: flex-start;
}

.friend-container {
  padding-right: 0;
}

.friend-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p {
    margin-left: $medium;
    font-family: $font-light;
    font-style: italic;
  }
  a {
    color: white;
  }
}

.friend-image {
  width: $avatar-large;
  height: $avatar-large;
}

.friend-background {
  background-color: $cream;
  padding-top: $small;
}

.seperator-margin {
  margin: $small 0px $small $medium;
}

.search-friends-container {
  width: 100%;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.search-friends {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  p {
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 0;
  }
  form {
    display: flex;
    width: 50%;
    align-items: center;
  }
  input {
    border-radius: $border-rounded;
  }
}

.search-headline {
  margin-left: $medium;
  width: 100%;
  a,
  h3,
  p {
    margin-left: 0;
  }
  .seperator-margin {
    margin-left: 0;
  }
  p {
    margin-bottom: 8px;
  }
}

.search-link {
  a {
    display: flex;
    align-items: center;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}
