* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: auto;
  margin: 0px auto;
  padding: 0px auto;
}

body {
  background-color: $cream;
  min-height: 100%;
  position: relative;
  margin: 0px auto;
  padding: 0px auto;
}

a:hover {
  text-decoration: none;
}

h1,
h2 {
  font-family: $font-bold;
  color: $black;
}

p {
  font-family: $font-reg;
}

h3,
h4 {
  font-family: $font-light;
  color: $black;
}

.wrapper-index {
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 2% 2.5%;
}

.fa-heart {
  color: $purple;
  margin-right: 5px;
}

.home-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 65px;
}

.home-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  z-index: 3;
  margin-top: 30px;
  h2 {
    font-size: 3.8rem;
  }
  h4 {
    font-weight: 600;
    margin: 8px 0px 24px 0px;
  }
  a {
    width: 100%;
  }
}

#welcome-message {
  font-family: $font-bold;
}
