* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: auto;
  margin: 0px auto;
  padding: 0px auto;
}

body {
  background-color: $cream;
  min-height: 100%;
  // overflow: auto;
  position: relative;
  margin: 0px auto;
  padding: 0px auto;
}

a:hover {
  text-decoration: none;
}

h1,
h2 {
  font-family: $font-bold;
  color: $black;
}

h3,
h4 {
  font-family: $font-light;
  color: $black;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 2% 2.5%;
}

.home-logo {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 3%;
  padding-top: 4%;
  h1 {
    font-size: 130px;
    letter-spacing: -3px;
    font-weight: 900;
    line-height: 120px;
  }
}

.home-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.home-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  z-index: 3;
  margin-top: 30px;
  h2 {
    font-size: 3.8rem;
  }
  h4 {
    font-weight: 600;
    margin: 8px 0px 24px 0px;
  }
  a {
    width: 100%;
  }
}
