<div class="home-wrapper">
  <div class="home-logo">
    <h1>BOOK</h1>
  </div>
  <div class="home-info">
    <%= render "shared/book_home" %>
    <div class="home-about">
      <h2>Welcome to the Book Club</h2>
      <h4>I can spend hours browsing bookshelves. When I visit a friends house, the first place that grabs my attention is their bookshelf. It's a great way to find new recommendations, learn what literature has shaped their beliefs and to start up a conversation. <br>
      The Book Club replicates that feeling through creating your own virual library where you can browse books and save them to your library and put them on different shelves according to how much you enjoyed them. 
      </h4>
      <h4></h4>
    </div>
    <div class="home-navbar">
      
    </div>
  </div>
</div> 
