<div class="home-wrapper">
  <div class="home-logo">
    <h1>BOOK CLUB</h1>
  </div>
  <div class="home-info">
    <%= render "shared/book_home" %>
    <div class="home-about">
      <h2>Welcome to the Book Club.</h2>
      <h4>Bowsing bookshelves is awesome.<br>
      The Book Club replicates that feeling through creating your own virtual library where you can browse books and save them to your library. Put them on different shelves according to how much you enjoyed them and follow your friends to see what they've been reading. 
      </h4>
      <%= link_to books_path do %>
        <h4 class="btn-purple">Start Searching</h4>
      <% end %>
    </div>
    <%= render "shared/navbar" %>
  </div>
</div> 
