<div class="home-wrapper">
  <div class="home-logo">
    <h1>BOOK</h1>
  </div>
  <div class="home-info">
    <%= render "shared/book_home" %>
    <div class="home-about">
      <h2>Welcome to the Book Club.</h2>
      <h4>Bowsing bookshelves is awesome.<br>
      The Book Club replicates that feeling through creating your own virtual library where you can browse books and save them to your library. Put them on different shelves according to how much you enjoyed them and follow your friends to see what they've been reading. 
      </h4>
      <h4 class="btn-purple">More about Book Club</h4>
    </div>
    <div class="home-navbar">
      <div class="nav-col nav-one"></div>
      <div class="nav-col nav-two"></div>
      <div class="nav-col nav-three"></div>
      <div class="nav-col nav-four"></div>
      <div class="nav-col nav-five"></div>
    </div>
  </div>
</div> 
