.book-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  opacity: 0;
  top: 230px;
  left: 100px;
  h2 {
    font-size: 3rem;
  }
}

.book-featured {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.featured-text {
  width: 500px;
  p {
    font-family: $font-reg;
  }
}

.top-featured-mt {
  margin-top: 130px;
}

.book-featured-covers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  width: 700px;
  margin-left: 100px;
}

.cover-small {
  width: 100px;
  height: 150px;
  object-fit: cover;
  // margin: 16px;
  box-shadow: 0px 4px 13px 5px #0000002e;
}
