// Search Results Card Formatting
.book-search-card {
  width: 95%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 28px 0px;
  background-color: $white;
  box-shadow: $card-shadow;
  z-index: 4;
  border-radius: $border-radius-lg;
}

.book-cover-search {
  width: $x-large * 2;
  height: 280px;
  object-fit: cover;
  border-top-left-radius: $border-radius-lg;
  border-bottom-left-radius: $border-radius-lg;
}

// Removing Navbar Overlay
.z-index-high {
  z-index: 3;
}

.text-left-padded {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 28px;
  padding: $medium $medium;
  h3 {
    font-family: $font-bold;
  }
  p {
    font-family: $font-reg;
  }
  .btn-mb {
    margin-bottom: 16px;
  }
}

.book-info-text {
  font-size: 1rem;
  height: $x-large;
  overflow: hidden;
}

.small {
  font-size: 30px;
}
