.book-search-card {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 12px 0px;
  border: 1px solid grey;
  border-radius: 5px;
}

.book-cover-search {
  width: 100px;
}

.search-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 16px;
}
