.btn-purple {
  background-color: $blue;
  border-radius: 45px;
  padding: 15px 30px 15px 20px;
  font-family: $font-bold;
  width: 100%;
  margin-top: 20px;
  font-size: 22px;
}

.btn-round {
  border-radius: 30px;
  font-family: $font-bold;
}
