// For Home Page and Chatroom
.btn-large {
  border-radius: 45px;
  padding: 15px 30px 15px 20px;
  font-family: $font-bold;
  box-shadow: $btn-shadow;
  width: 100%;
  margin-top: $medium;
  font-size: 1.7rem;
}

// For All Regular Buttons
.btn-round-medium {
  border-radius: $border-rounded;
  font-family: $font-bold;
  box-shadow: $btn-shadow;
  width: 170px;
}

.btn-white {
  color: white !important;
}

// Default Colour to Green
.btn-success-add {
  background-color: $green;
  border-radius: $border-radius;
  padding: 4px 30px;
  font-family: $font-bold;
  a {
    color: $white;
  }
}

// Override with Red
.btn-reject-friend {
  background-color: $red;
  width: 45%;
  padding: $small;
}
.btn-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  a {
    justify-content: space-around;
  }
}

// Accept Button for JS Selector
.btn-accept {
  width: 45%;
  margin-right: 5%;
  padding: $small;
}

// Button for Submitting Reviews, Longer Forms
.btn-long-reviews {
  width: 100%;
  font-family: $font-bold;
  color: white;
  background-color: $green;
  margin-bottom: $small;
}

.btn-grey {
  background-color: grey;
  cursor: default !important;
}

.btn-red {
  background-color: $red;
}

.btn-status-show {
  margin-right: 8px;
}
