.btn-purple {
  background-color: $blue;
  border-radius: 45px;
  padding: 15px 30px 15px 20px;
  font-family: $font-bold;
  width: 100%;
  margin-top: 20px;
  font-size: 22px;
}

.btn-round {
  border-radius: 30px;
  font-family: $font-bold;
}

.btn-add-friend {
  background-color: $blue;
  border-radius: 4px;
  padding: 8px 30px;
  font-family: $font-bold;
  a {
    color: white;
  }
}

.btn-reject-friend {
  background-color: $red;
  width: 45%;
  padding: 8px;
}
.btn-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  a {
    justify-content: space-around;
  }
}

.btn-accept {
  width: 45%;
  margin-right: 5%;
  padding: 8px;
}
