// Standard Config for navbar
.home-navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  top: 185px;
  width: 100%;
}

.nav-behind {
  z-index: -1;
}

.home-navbar-out {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 17%;
  position: absolute;
  top: 185px;
  right: 0;
}

.navbar-home-position {
  top: 242px;
}

.nav-col {
  width: $medium-size;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  min-height: 80vh;
  z-index: 4;
}

.nav-link-book {
  transform: rotate(90deg);
  white-space: nowrap;
  position: sticky;
  color: $black;
  font-family: $font-bold;
  font-size: 1.65rem;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.margin-right-auto {
  margin-right: auto;
}
// Styling and positioning for individual columns
.nav-one {
  background-color: $green;
  .nav-link-book {
    top: 10px;
    padding-left: 188px;
    left: -59px;
  }
}

.nav-two {
  background-color: $purple;
  .nav-link-book {
    top: 10px;
    padding-left: 128px;
    left: -49px;
  }
}
.nav-three {
  background-color: $red;
  .nav-link-book {
    top: 10px;
    padding-left: 128px;
    left: -47px;
  }
}
.nav-four {
  background-color: $blue;
  .nav-link-book {
    top: 10px;
    padding-left: 114px;
    left: -40px;
  }
}

.nav-five {
  background-color: $brown;
  .nav-link-book {
    top: 10px;
    padding-left: 80px;
    left: -20px;
  }
}

.nav-three {
  .nav-search-out {
    top: 78px;
    left: -58px;
    padding-left: 178px;
  }
}

.nav-four {
  .nav-sign-up {
    top: 44px;
    left: -24px;
  }
}

.nav-five {
  .nav-log-in {
    top: 39px;
    left: -16px;
    padding-left: 104px;
  }
}
