// Colour seperator evenly split to give 3 colours stretched
.seperator-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  height: 10px;
  // opacity: 0;
  .seperator-one {
    width: 33.3%;
    background-color: $blue;
  }
  .seperator-two {
    width: 33.3%;
    background-color: $green;
  }
  .seperator-three {
    width: 33.3%;
    background-color: $purple;
  }
}

.sep-midpage {
  position: absolute;
  top: 640px;
  .seperator-one {
    background-color: $purple;
  }
  .seperator-two {
    background-color: $green;
  }
  .seperator-three {
    background-color: $blue;
  }
}
